body {
    background-color: #f8f9fa;
}

.result {
    height: 60vh; /* Establece la altura máxima del div */
    overflow-y: auto; /* Agrega una barra de desplazamiento vertical si es necesario */
    border: 1px solid #ccc; /* Opcional: Añade un borde para mayor claridad */
    padding: 1px; /* Opcional: Agrega relleno para un mejor aspecto */

}

.msg1 {
    border-radius: 15px 50px 30px;
    background-color: red;
    padding: 2%;
    color: white;
    margin-left: 10px;
    width: 90%;
    text-align: right;
}

.msg2 {
    border-radius: 15px 50px 30px;
    background-color: blue;
    margin: 2px;
    padding: 2%;
    color: white;
}

.p-4{
    float: right;
    width: 75%;
    height: 530px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 25px;
}
.p-5{
    float: right;
    width: 24%;
    height: 530px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 25px; 
    margin-left:5px;
}
.list-unstyled{
    width:130px;
    height: 300px;
}

