body {
    background-color: #f8f9fa;
}

#chat-container {
    max-width: 1250px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
}

#chat-messages {
    height: 350px;
    overflow-y: scroll;
    padding: 10px;
    background-color: #fff;
}

#user-input {
    padding: 10px;
    background-color: #fff;
    border-top: 1px solid #ddd;
}

#result {
    max-height: 300px; /* Establece la altura máxima del div */
    overflow-y: auto; /* Agrega una barra de desplazamiento vertical si es necesario */
    border: 1px solid #ccc; /* Opcional: Añade un borde para mayor claridad */
    padding: 10px; /* Opcional: Agrega relleno para un mejor aspecto */
}
